body {
    background: #333;
}

#slides{
    position: relative;
    height: 1400px;
    max-height: 1400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
  
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: cover;
}
  
.showing{
    opacity: 1;
    z-index: 2;
}
    
.controls{
    display: none;
}

.slide:nth-of-type(1){
    background-color: red;
    background-image: url('https://storage.picsave.pp.ua/view/0/2202/original');
}

.slide:nth-of-type(2){
    background-color: orange;
    background-image: url('http://wallpapers-image.ru/oboi/wallpapers/wallpapers-mountains-0.jpg');
}
 
.slide:nth-of-type(3){
    background-color: green;
    background-image: url('https://storage.picsave.pp.ua/view/0/2103/original');
}

.slide:nth-of-type(4){
    background-color: red;
    background-image: url('http://wallpapers-image.ru/oboi/wallpapers/wallpapers-mountains-01.jpg');
}

.slide:nth-of-type(5){
    background-color: orange;
    background-image: url('http://wallpapers-image.ru/oboi/wallpapers/wallpapers-mountains-04.jpg');
}

.slide:nth-of-type(6){
    background-color: green;
    background-image: url('http://wallpapers-image.ru/oboi/wallpapers/wallpapers-mountains-03.jpg');
}

.controls{
    background: #333;
    color: #fff;
    border: none;
    padding: 20px 0px;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #333;
    margin: 0 10px;
    width: 150px;

}
  
.controls:hover {
    border: 3px solid rgb(110, 109, 109);
    background: rgb(107, 32, 32);
    color: rgb(255, 255, 255);
}
.controls:active {
    border: 3px solid rgb(233, 233, 233);
}
.container{
    position: relative;
}
  
.buttons{
    position: fixed;
    left: 45%;
    bottom: 50px;
    z-index: 10;
    font-size: 0px;
}
.borderLoader {
    width: 100%;
    height: 100%;
    background: rgb(216, 165, 165);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 50px;
    height: 50px;
    border: 10px solid #3080DA;
    border-radius: 50%;
    border-left-color:#FDFE33;
    animation: loader 1.3s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg)
    }
}
.hide {
    opacity: 0;
}
